<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">




            <div class="card">
                <div class="card-header">
                    <h4 class="card-title" >Scénarios en exécution </h4>


                    <a data-action="stop execution" >
                        <i class="fa fa-stop" (click)="stop()"
                            style="float: right ;margin-right: 1rem;margin-left: 1rem;" > {{traduction.langue.stopexecution}} </i>
                    </a>
                   

                </div>

                <div class="card-content">
                    <div class="card-body">

                        <form [formGroup]="resultForm">


                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label
                                            for="exampleFormControlSelect1"><b>{{traduction.langue.scenario}}</b></label>

                                        <select class="form-control" formControlName="idScenario" [(ngModel)]="idScenario">
                                            <option *ngFor="let scenario of Scenarios;" value="{{scenario.id}}">
                                                {{scenario.nom}}</option>
                                        </select>
                                    </div>

                                </div>
                                
                            </div>


                        </form>

                    </div>
                </div>
               

                <div class="card-content">
                    <div class="card-body">

                        <p class="mesgs"  style="font-size: 14px; color:grey; margin-bottom: 0; overflow: scroll;height: 400px; max-height: 400px;width: 100%;;overflow-x: hidden;text-align: left;">
                        
                        <ng-container *ngFor="let m of tab">
                            <ng-container *ngIf="m.id==idScenario">
                                <div [innerHTML]="m.data"></div>
                            </ng-container>

                        </ng-container>

                        </p>
               
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

